.divTable{
	display: table;
	width: 100%;
	background-color: #f5f5eb;
	border-width: thick;
	border-color: black;
}
.Large{
	width: 100%;
}
.Medium{
	width: 60%;
}
.Small{
	width: 40%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
img {
	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }